<read>
    <link rel="stylesheet" href="../../public/css/consulta.css">
</read>

    <div class="container">
        
        {{#each data}}

        <div class="card">

            <div class="card-body">
                
                <h5 class="card-title">{{this.nome}}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{this.telefone}}</h6>
                <p class="card-text">{{this.endereco}}</p>

                <p class="card-text">{{this.observacao}}</p>
                
                <div class="container border p-3 mb-3">
                    <p>Lista de Itens:</p>
                    <ul class="list-group">
                        {{#each itens}}
                        <li class="list-group-item">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <p>{{this.item}}</p>
                                </div>
                                <div class="col-auto">
                                    <div class="vr"></div>
                                </div>
                                <div class="col-auto">
                                    <p>Quantidade</p>
                                </div>
                                <div class="col-auto">
                                    <p>{{this.quantity}}</p>
                                </div>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </div>

                
                <a href="/editar/{{id}}"><button type="button" class="btn btn-primary"> Editar Pedido</button></a>
            
                <a href="/excluir/{{id}}"><button type="button" class="btn btn-danger"> Excluir Pedido</button></a>
                
            </div>

        </div>
<br>
        {{/each}}

    </div>
    